{% extends "nav.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="box">
        <div class="container">
            <div class="form">
                <h2>To Verify Your Email</h2>
                <form action = "/verify-otp" method="post">
                    <div class="inputbox">
                        <input type = "number" name = "otp" title="otp" id="otp" autofocus autocomplete="off" required>
                        <label for="otp" class="form-label">Enter OTP: </label>
                    </div>
                    <div class="inputbox">
                        <input type="submit" value="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
