{% extends "nav.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}
    <div class="box">
        <div class="container">
            <div class="form">
                <h1>Forgot Password</h1>
                <form action="/otp/{{ email }}" method="post">
                    <div class="inputbox">
                        <input type = "number" name = "otp" title="otp" id="otp" autofocus autocomplete="off" required>
                        <label for="otp" class="form-label">Enter OTP: </label>
                    </div>

                    <div class="inputbox">
                        <input type="password" id="new_password" name="new_password" spellcheck="false" autocomplete="off" required>
                        <label for="password" class="form-label">new password</label>
                    </div>

                    <div class="inputbox">
                        <input type="password" id="confirmation" name="confirmation" spellcheck="false" autocomplete="off" required>
                        <label for="cpassword" class="form-label">conform password</label>
                    </div>

                    <div class="inputbox">
                        <input type="submit" value="Submit">
                    </div>
                    <!-- <p class="forgot"><a href="/login">Forgot password ?</a></p>> -->
                </form>
            </div>
        </div>
    </div>
{% endblock %}


