<!DOCTYPE HTML>

<html>
    <head>
        <title>
            select
        </title>
        <link href="/static/styles.css" rel="stylesheet">
        <script src="/static/select.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="input-field">
                <label for="text">text</label>
                <input id="text" type="text" auto-focus auto-complete="off" auto-correct="off">
            </div>
            <div class="Select">
                <div class="option-selected">select option</div>
                <div class="options">
                    <div data-value="option1">Option 1</div>
                    <div data-value="option2">Option 2</div>
                    <div data-value="option3">Option 3</div>
                    <div data-value="option4">Option 4</div>
                </div>
                <form action="/" method="post">
                    <input type="submit"></input>
                </form>
            </div>
        </div>
    </body>
</html>
